.skip-link {
  position: absolute;
  top: get-size("400");
  left: get-size("400");
  z-index: 99;

  // @extend should be used with care, but this a great example of being useful
  &:not(:focus) {
    @extend .visually-hidden;
  }
}
