<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% include "partials/meta-info.njk" %}

    <link rel="preload" href="/styles/index.css" as="style" onload="this.rel='stylesheet'">
  
    {# Add facility for pages to declare an array of stylesheet paths #}
    {% if pageStylesheets %}
      {% for item in pageStylesheets %}
        <link rel="preload" href="styles/{{ item }}" as="style" onload="this.rel='stylesheet'">
      {% endfor %}
    {% endif %}
  </head>
  <body>
    <div class="site-wrap">
      {% include "partials/site-head.njk" %}

      <main tabindex="-1" id="main-content">
        {% block content %}{% endblock %}
      </main>

      <footer role="contentinfo" class="site-foot">
        <div class="wrapper">{{ site.desc }}</div>
      </footer>
    </div>
  </body>
</html>